<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Книга</title>
</head>
<body>
<header class="container header">
    <div class="header__wrapper">
        <a href="#" class="header__logo-link">Библиотека</a>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu-item"><a href="/" class="header__menu-link">Главная</a></li>
                <li class="header__menu-item"><a href="/search" class="header__menu-link">Добавить</a></li>
            </ul>
        </nav>
    </div>
</header>
<main class="container">
    <section class="item-card">
        <h1 class="page-search__title title">Добавить книгу</h1>
        <form action="/search" class="page-search__form">
            <div class="page-search__input-wrap">
                <input name="name" type="text" class="page-search__input input" placeholder="Название">
                <input name="author" type="text" class="page-search__input input" placeholder="Автор">
            </div>
            <button type="submit" class="page-search__btn">Доюавить</button>
        </form>
    </section>
  </main>
</body>
</html>